* {
    margin: 0;
    padding: 0;
    box-sizing: content-box;

}

.clearfix::after {
    content: "";
    display: block;
    clear: both;
}

body {
    max-width: 1280px;
    margin: 0 auto;
    font-family: roboto, sans-serif;
}

nav {
    background-color: #343A40;
    padding-left: 5px;
    text-align: center;
margin-top: 20px;



}

nav ul li {
    box-sizing: border-box;
    float: left;
    list-style: none;
    width: 20%;
        border-right: 2px solid black;


}

nav ul li a {

    line-height: 70px;
    text-decoration: none;
    text-transform: none;
    color: #bbb;
    font-size: 18px;
    width: auto;
    letter-spacing: 1px;
    padding: 40px;

}
nav ul li a:hover {
    color: white;
}
nav ul li:last-child {
    border: none;
}

p {
    margin: 20px auto;
}
